@charset "UTF-8";

/* Stylesheet for index.html

Author: Jonathon Beck
Date: 2026|01|16
Course: CSC265 - Intermediate Website Design
*/

:root {
    --color: slategray;
    --font-family: 'Arial', sans-serif;
}

html {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23180000' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23310000' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23490000' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23610000' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23790000' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23920000' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23AA0000' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

header {
    text-align: center;
    color: var(--color);
    font-family: var(--font-family);
    padding: 20px;
    border-bottom: 2px solid gray;
}

section.bio {
    color: lightslategray;
    border: 2px solid gray;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    background: linear-gradient(to bottom right, black, darkred)
}

section.bio img {
    float: left;
    margin: 10px;
    width: 150px;
    height: auto;
    border: 2px solid gray;
}

section.assignments {
    color: lightslategray;
    border: 2px solid gray;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    background: linear-gradient(to bottom right, black, darkred)
}

footer {
    text-align: center;
    font-size: small;
    color: black;
    background-color: rgb(100, 100, 100);
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid gray;
    position: absolute;
    bottom: 0;
    width: 100%;
}